doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
        <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
        link(rel="stylesheet", href="css/swiper-bundle.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap-grid.min.css")
        link(rel="stylesheet", href="css/main.min.css")
    body 
               
        include components/header.pug 
        include components/services.pug
        include components/about.pug    
        include components/news.pug    
        include components/contacts.pug
        include components/footer.pug
        
        
        
        
        
        
        
              
        
    
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        script(src="js/swiper-bundle.min.js") 
        script(src="js/main.min.js")  