.news {
    padding:100px 0;
    @include md(padding, 50px 0);
    &__title {
        text-align: center;
        font-size: 40px;
        color:rgb(4, 2, 46);
        @include md(font-size, 30px);
    }
    &__subtitle {
        font-size: 20px;
        color:rgb(53, 49, 49);
        font-weight: 600;
        margin-top: 10px;
        text-align: center;
        @include md-block {
            font-size: 18px;
        }
    }
    .row {
        margin: 50px 0 0;
        padding-bottom: 50px;
        border-bottom: 2px solid #555;
        justify-content: space-between;
        @include md-block {
           margin-top: 40px;
        }
        @include sm(text-align, center);
    }
    &__img1 {
        img {
            width: 100%;
        }
        @include md(margin-bottom, 20px);
    }
    
    &__content {
        display: flex;
        text-align: center;
        @include sm(flex-wrap, wrap);
        &-data {
          width: 120px;  
          height: 90px;
          border: 3px solid #000;
          @include flex;
          font-size: 30px;
          text-align: center;
          font-weight: 700;
          color:#e94029;
          flex-direction: column;
          margin-right: 20px;
          @include lg-block {
              font-size: 24px;
          }
          @include sm-block {
              width: 80px;
              height: 80px;
              margin:0 auto 10px;
          }
          span {
              font-size: 16px;
              font-weight: 400;
              @include lg(font-size,14px);
          }
        }
        &-title {
            font-size: 18px;
            color:#555555;
            line-height: 24px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
            @include lg-block {
                font-size: 16px;
            }
            @include sm(font-size, 14px);
            span {
                display: block;
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                font-weight: 700;
                margin-top: 20px;
                font-family: 'Roboto Slab';
                @include sm-block {
                    font-size: 13px;
                    margin-top: 10px;
                }
            }
        }
        &-text {
            margin-top: 25px;
            font-size: 16px;
            line-height: 30px;
            font-family: 'Roboto Slab';
            font-weight: 400;
            color:#555555;
            @include lg-block {
                line-height: 24px;
            }
            @include sm-block {
                font-size: 14px;
            }
        }
        &-link {
           font-size: 16px; 
           text-transform: uppercase;
           color:#c0301c;
           font-weight: 700;
           margin-top: 50px;
           @include inline-flex;
           @include lg(margin-top, 20px);
        }
    }
}