$fonts: ('Montserrat', 'Black', 900);
$fonts: ('Satisfy', 'Regular', 400);
$fonts: ('Montserrat', 'Bold', 700);
$fonts: ('Montserrat', 'Regular', 400);
$fonts: ('RobotoSlab', 'Bold', 700);
$fonts: ('RobotSlab', 'Regular', 400);

@each $font-name, $font-subname, $font-weight in $fonts {
    @font-face {
        font-family: $font-name;
        src: url(../fonts/#{$font-name}-#{$font-subname}.woff);
        font-style: normal;
        font-weight: $font-weight;
    }
}
        
        
        