@import 'fonts.scss';
@import 'mixins.scss'; 
@import 'var.scss';


* {
    padding:0;
    margin:0; 
    box-sizing: border-box;
}
button {
    cursor: pointer;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
input, textarea, button, select {
    outline: none;
}
body {
    font-family: 'Montserrat';
    font-weight: 400;
    background: $white;
}
.logo {
     text-transform: uppercase;  
     color:#fff;
     font-size: 24px;
     font-weight: 900;
     span {
         color:rgb(255, 0, 0);
         font-weight: 900;
     }
}

@import 'header';
@import 'services';
@import 'about';
@import 'news';
@import 'contacts';
@import 'footer';

