section.about#about
    .container.about__container  
        h2.about__title About Us
        p.about__subtitle We Make The Future Brighter
        
        .about__main 
          
        .about__slider.swiper-container 
            .about__inner.swiper-wrapper 
                .about__card.swiper-slide 
                   img(src="/images/about-img1.webp", alt="") 
                   .about__card-content 
                        h2.about__card-title.about__card-title_1 Simple Platform for Using
                        p.about__card-subtitle Find The Button START NOW and send your writings to our experts 
                        
                .about__card.swiper-slide 
                   img(src="/images/about-img2.webp", alt="") 
                   .about__card-content 
                        h2.about__card-title.about__card-title_2 Fast and Best Quality of checking are guaranteed
                        p.about__card-subtitle After sending the Writing, within an hour You will get your Writing results
                .about__card.swiper-slide 
                   img(src="/images/about-img3.webp", alt="") 
                   .about__card-content 
                        h2.about__card-title.about__card-title_3 Best Structured feedback and IELTS band Score
                        p.about__card-subtitle The Result will Consist the Closest band score and Feedbacks about weaknesses and some recomendations will be given
                .about__card.swiper-slide 
                   img(src="/images/about-img12.webp", alt="") 
                   .about__card-content 
                        h2.about__card-title.about__card-title_4 The Convenient Prices
                        p.about__card-subtitle The Prices are Low, our intention is not money, our goal is to help you!
                .about__card.swiper-slide 
                   img(src="/images/about-img8.webp", alt="") 
                   .about__card-content 
                        h2.about__card-title.about__card-title_4 Start Now and Start write better!
                        p.about__card-subtitle Everyting You need for Using Our Platform is just a Internet and little courage
        h2.about__main-title Only
               span ONE 
        p.about__main-subtitle This is a online platform which was established intentionally to help IELTS takers to improve their writings by checking them and giving them the Best Structured Feedbacks and assess their writings according to the IELTS writing assessment rules                