footer.footer 
    .container 
        a.footer__logo(href="#") ONLY 
            span ONE 
        p.footer__subtitle We Think - We Flourish!    
        .footer__socials 
            a.footer__socials-link(href="#")
                <i class="ri-instagram-fill"></i>     
            a.footer__socials-link(href="#")
                <i class="ri-linkedin-box-fill"></i>     
            a.footer__socials-link(href="#")
                <i class="ri-twitter-fill"></i>     
            a.footer__socials-link(href="#")
                <i class="ri-telegram-fill"></i>    
                
        .copyrights 
            p &copy; All Rights are Reserved. 2021 for Bakhriddin