header.header 
    nav.nav 
        .container.nav__container 
            a.logo(href="#") Only 
                span ONe 
            .nav__menu 
                ul.nav__list 
                    li.nav__menu-item.nav__menu-item_close 
                        <i class="ri-close-fill"></i>
                    li.nav__menu-item 
                        a.nav__menu-link(href="#") Home 
                    li.nav__menu-item 
                        a.nav__menu-link(href="#") Services
                    li.nav__menu-item 
                        a.nav__menu-link(href="#") About Us 
                    li.nav__menu-item 
                        a.nav__menu-link(href="#") News 
                    li.nav__menu-item 
                        a.nav__menu-link(href="#") Contacts
                    li.nav__menu-item 
                        a.nav__menu-link.nav__menu-link_user(href="#") <i class="ri-account-circle-fill"></i>  
            .nav__toggle 
                <i class="ri-function-line"></i>
    p.header__subtext Discover More than You Think <i class="ri-earth-fill"></i>
    h1.header__title IELTS 
        sup Writing 
    p.header__subtitle With Us Writing becomes Easier <i class="ri-magic-fill"></i>
    .header__socials 
        a.header__socials-link(href="#")
            <i class="ri-instagram-fill"></i>
        a.header__socials-link(href="#")
            <i class="ri-linkedin-box-fill"></i>
        a.header__socials-link(href="#")
            <i class="ri-twitter-fill"></i>
        a.header__socials-link(href="#")
           <i class="ri-telegram-fill"></i>
    a.header__link(href="#") Start Now           
                           
                