section.news#news 
    .container.news__container
        h2.news__title News Blog 
        p.news__subtitle Every step is Important
        .row 
            .col-lg-5.col-md-5.news__img1 
                img(src="/images/news-img.webp", alt="")
            .col-lg-7.col-md-7 
                .news__content 
                    .news__content-data 1 
                        span SEPT     
                    .news__content-title The Platform has Launched its operation in Uzbekistan in 2021
                        span By Nurullayev Bakhriddin
                p.news__content-text Finally Our Platform Launched its services in Uzbekistan on September 1 in 2021. We have prepared for this day for long time, it has been a difficult but a fun journey. But Finally we did it. Now New English Writing Platform will help students or to those who is preparing for IELTS test, to improve their writing skills.  
                a.news__content-link(href="#") More News    
        .row 
            .col-lg-5.col-md-5.news__img1 
                img(src="/images/news-img2.webp", alt="")
            .col-lg-7.col-md-7 
                .news__content 
                    .news__content-data 1 
                        span SEPT     
                    .news__content-title The Platform has Launched its operation in Uzbekistan in 2021
                        span By Nurullayev Bakhriddin
                p.news__content-text Finally Our Platform Launched its services in Uzbekistan on September 1 in 2021. We have prepared for this day for long time, it has been a difficult but a fun journey. But Finally we did it. Now New English Writing Platform will help students or to those who is preparing for IELTS test, to improve their writing skills.  
                a.news__content-link(href="#") More News    