section.services#services 
    .container.services__container 
       .services__data 
            h4.services__title Services  
            p.services__subtitle Now only for Uzbekistan
       .services__content.row 
            .col-lg-6 
                h2.services__content-title We Offer Simple Platform And The Best Quality
                p.services__content-subtitle
                    span 1st Step - Submit Your Writing
                    span 2st Step - Make A Payment ($1 or 10 000 sum)
                    span 3st Step - Get Your Result 
                    span 4st Step - Get Your Feedbacks and Recommendations
                    span  5st Step - Come Back Again
                p.services__content-subtitle_notice In International markets the price for Single writing check is $12
                a.services__content-link(href="") More info 
            .col-lg-6.services__content2
                img.services__content2-img2(src="/images/services-2.webp", alt="") 
                
       .services__content.row 
            .col-lg-6 
                h2.services__content-title Writing examples for Higher Scores (InshaAllah), And Soon Reading Section 
                p.services__content-subtitle Writings and Reading practices will be availible: 
                    span 1) If You registered
                    span 2) If You already have an account
                    span 3) Sent at leat 2 writing for checking 
                    span.span  IMPORTANT NOTICE: Your writings will not be shared!
                a.services__content-link(href="") More info 
            .col-lg-6.services__content
                img.services__content-img(src="/images/services-1.webp", alt="") 